@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

.add-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back__button {
  position: absolute;
  top: 3rem;
  left: 3.25rem;
  width: 5rem;
  cursor: pointer;
  z-index: 6;
  margin-top: 2rem;
}

.main-card {
  height: 87vh;
  width: 90vw;
  background-color: transparent;
  border-radius: 1rem;
  display: flex;
  margin-top: -4rem;
}

.add-city-btn {
  padding: 0.75rem 1.5rem;
  background-color: #003EFF;
  outline: none;
  border: none;
  color: white;
  border-radius: 2rem;
  font-size: 1rem;
}

.city-search-wrapper {
  flex-flow: column;
  flex: 1 1;
  position: relative;
  overflow-y: auto;
}
 /* width */
 ::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  background: transparent;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
  border-radius: 10px;
}
  
.city-search-header {
  width: 100%;
  min-height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.city-search-body {
  width: 100%;
  min-height: 60%;
  display: flex;
  justify-content: center;
}

.city-search-hr {
  word-spacing: 1rem;
  margin: 2rem;
}


.search-city-input-wrapper {
  position: relative;
  width: 80%;
  box-sizing: border-box;
}
.search-city-input {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5rem;
  border-radius: 3rem;
  outline: none;
  border: none;
  box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
  font-size: 1rem;
  color: #131F69;
  text-transform: uppercase;
}
.search-city-input:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12), 0 5px 1px -2px rgba(0,0,0,.2);

}

.search-city-input::placeholder {
  font-size: 1rem;
  color: #131F69;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.search-city-btn {
  cursor: pointer;
  position: absolute;
  background: linear-gradient(to bottom, #3b0021,#9782c7 );
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  right: 0;
  top: -0.35rem;
  outline: none;
  border: none;
  z-index: 5;
  box-shadow: 0 0 2rem 0.15rem rgba(0, 0, 255, 0.1);
}

.search-icon {
  height: 50%;
  width: 50%;
}

.city-search-title {
  color: #0c1066;
  margin: 4rem 0 3rem 0;
  font-size: 25px;
  margin-left: 40px;
  font-weight: 200;
  color: #131F69;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
app-weather-card {
  margin: 2rem 0;
  min-width: 28rem;
}

/* Media Query:   LT-XL  */
@media screen and (max-width: 1919px) {
  .add-city-btn {
    height: 80%;
    width: 75%;
  }
}

/* Media Query:   LT-MD   */
@media screen and (max-width: 959px) {

  app-weather-card {
    width: 90%;
    margin-bottom: 2rem;
  }

  .add-wrapper {
    flex-flow: column;
  }

  .main-card {
    flex-flow: column;
    margin-left: -1rem;
    margin-bottom: 2rem;
    height: auto;
  }

  .city-search-title {
    margin: 2rem;
  }

}
