.add__card {
  background-color: transparent;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
  margin: 2rem;
  width: 19rem;
  height: 30rem;
  justify-items: center;
  cursor: pointer;
  border-radius: 1.75rem;
  color: #443282;
}
.add__card:hover{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 9px 0 rgba(0,0,0,.12), 0 6px 1px -2px rgba(0,0,0,.2);
}

.add__card-dark {
  background: linear-gradient(to bottom, rgb(0, 1, 41),rgb(80, 13, 65));
  color: white;
}

.card__title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.city__illustration {
  width: 20rem;
}

.body__container {
  align-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.add__icon {
  width: 10rem;
  margin-bottom: 1.15rem;
}
.cls-299 {
  fill: #f0ed49;
}